VITE_BASE_URL = https://api.themoviedb.org/3
VITE_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2YTc1MTM2MGQ4OTY3NzkwOTkzYjAyOWRlZGFhNTUwYyIsIm5iZiI6MTc2MjUwMjk4OC45MTM5OTk4LCJzdWIiOiI2OTBkYTk0YzJiOTllN2M3Njk0YzcwOTkiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.v2BXc1tkX_IpUzEP7o8SUbzmKdoDpg7zh6KS8MQ1L1Y

